<div class="contentMain">

    <div>

        <p>Diversos métodos podem ser utilizados para organizar o fluxo de trabalho de uma empresa, e um dos mais
            populares
            é o chamado “kanban”. A metodologia surgiu no Japão e consiste em utilizar colunas e cartões para a
            organização
            das tarefas que devem ser executadas ou que já foram realizadas.</p>

        <p>
            Esse sistema de organização visa tornar o fluxo de trabalho mais eficiente ao exibir em um quadro o status
            de
            todas as tarefas. Pode ser feito tanto de forma manual, com post-its, quanto por meio de um software online,
            assim todos os colaboradores poderão ter acesso a ele. </p>

        <p>A visualização dos status das atividades ajuda a equipe a entender a situação das operações e o que ainda
            falta
            ser concluído. Essa ferramenta de gestão de tarefas também é útil para identificar gargalos no fluxo e
            solucioná-los. Além disso, pode ser utilizado por empresas dos mais variados segmentos. Acompanhe a leitura
            e
            veja como.</p>
        <label>
            Leia mais em <a href="https://artia.com/blog/beneficios-do-kanban-para-equipes-de-ux/">Artia</a>
        </label>
    </div>

    <span class="span">
        <h2>
            Desenvolvido por Denílson Pereira
        </h2>
        Para o projeto de Aplicações Interativas e Design Responsivo
    </span>
</div>