.content {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 84px);
    padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
    .content {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 84px);
        padding: 10px 20px;
    }
}

.lista {
    border-radius: .25rem;
    margin: 5px;
}

.headerLista {
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.d-flex {
    display: flex;
    align-items: center;
}

.justify-content-between {
    justify-content: space-between
}

.tarefa {
    padding: 10px;
    margin: 15px 0;
    cursor: pointer;
}

.drag-container {
    min-height: 100%;
}