body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #e6e6e6;
    margin: 0px !important;
    background-color: #303030;
}

/* main {
    max-width: 80vw;
    margin: 0 auto;
    padding: 25px;
} */